body{
    background-color: orange;
}
#main_head{
    width: 550px;
    height: 80px;
    border-radius: 20px;
    text-align: center;
    margin-left: 500px;
    letter-spacing: 10px;
}
#second_head{
    margin-left: 550px;
    color: white;
    font-size: 20px;
}
#third_head{
    margin-left: 600px;
    color: white;
}
#cam{
    border: 2px dashed orange;
    width: 250px;
    height: 200px;
}
#result{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#re_cam{
    border: 2px dashed orange;
    width: 250px;
    height: 200px; 
}
#pre{
    margin-left: 700px;
}
